:root{
  --ifm-color-primary-lightest: #F9B970;
  --ifm-color-primary-lighter: #F8A648;
  --ifm-color-primary-light: #F79F3B;
  --ifm-color-primary: #f69220;
  --ifm-color-primary-dark: #F0850A;
  --ifm-color-primary-darker: #E37D09;
  --ifm-color-primary-darkest: #BB6708;
  --ifm-font-family-base: -apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}





@media only screen and (min-width: 1040px) {
  .header-long-screen {
    display: block;
  }
  .header-short-screen {
    display: none;
  } 
}

@media only screen and (max-width: 1040px) {
  .header-long-screen {
    display: none;
  }
  .header-short-screen {
    display: block;
  } 
}

html[data-theme="dark"] .header-github-link::before {
  filter: invert(1);
}

#carbonads * {
  margin: initial;
  padding: initial;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

#carbonads {
  display: flex;
  z-index: 100;
  position: fixed;
  right: 30px;
  bottom: 30px;

  max-width: 360px;
  background-color: hsl(0, 0%, 98%);
  box-shadow:
    0 0 0 1px hsla(0, 0%, 30%, .05),
    0 0 0 2px hsla(0, 0%, 50%, .05),
    0 0 0 4px hsla(0, 0%, 80%, .05);
}

#carbonads a {
  text-decoration: none;
  color: #000000;
}

#carbonads a:hover {
  color: #475569;
}

#carbonads span {
  display: block;
  position: relative;

  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  display: block;
  margin: 0;

  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  margin-bottom: 16px;
  padding: 10px;

  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  color: #000000;
}

#carbonads .carbon-poweredby {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px 8px;

  font-size: 8px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-top-left-radius: 3px;
  background: #f1f1f2;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    float: initial;
    position: relative;
    right: initial;
    bottom: initial;
    margin: 0 auto 25px;

    max-width: 330px;
  }

  #carbonads .carbon-wrap {
    display: flex;

    flex-direction: row;
  }

  #carbonads .carbon-img {
    margin: 0;
  }

  #carbonads .carbon-text {
    padding: 10px 10px 0 10px;

    font-size: 12px;
  }

  #carbonads .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;

    text-align: center;
    border-radius: 0;
    border-top-left-radius: 3px;
  }
}

.bsa-standard {
	--width: 960px;
	--gap: 1.5ch;
	position: relative;
	max-inline-size: var(--width);
	font-size: 16px;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
}

.bsa-standard .native-banner {
	display: flex;
	column-gap: var(--gap);
	row-gap: var(--gap);
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0.15);

	text-decoration: none;
}

.bsa-standard .native-img {
	flex-shrink: 0;
	flex-basis: 125px;
	height: 50px;
	line-height: 0;
}

.bsa-standard .native-main {
	display: flex;
	flex-grow: 1;
	flex-basis: 300px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gap);
}

.bsa-standard .native-details {
	display: flex;
	flex-grow: 1;
	flex-basis: 300px;

	flex-direction: column;
	flex-wrap: wrap;
	padding-left: var(--gap);
}

.bsa-standard .native-company {
	margin-bottom: 0.5ex;
	font-weight: 600;

	font-size: 0.625em;
	line-height: 1.4;
	letter-spacing: 0.2ch;
	text-transform: uppercase;
}

.bsa-standard .native-desc {
	font-weight: 300;
	font-size: 1em;
	line-height: 1.4;
	letter-spacing: 1px;
}

.bsa-standard .native-cta {
	padding: 10px 16px;
	border-radius: 3px;
	font-weight: 600;

	font-size: 0.875em;
	line-height: 1;
	letter-spacing: 0.1ch;
	text-transform: uppercase;
	white-space: nowrap;
}
