:root{
  --ifm-color-primary-lightest: #F9B970;
  --ifm-color-primary-lighter: #F8A648;
  --ifm-color-primary-light: #F79F3B;
  --ifm-color-primary: #f69220;
  --ifm-color-primary-dark: #F0850A;
  --ifm-color-primary-darker: #E37D09;
  --ifm-color-primary-darkest: #BB6708;
  --ifm-font-family-base: -apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.header-bit-cloud-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1455_35)'%3E%3Ccircle cx='12.0121' cy='12' r='11.2802' stroke='%231C1E21' stroke-width='1.3'/%3E%3Cpath d='M8.79636 4.18036C6.78571 4.96449 5.17642 6.55081 4.36182 8.546' stroke='%231C1E21' stroke-width='1.3' stroke-linecap='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9841 12.9721C10.9841 14.1484 10.2831 14.9057 9.02634 14.9057C8.57517 14.9057 8.15624 14.8171 7.83398 14.6318C7.46338 14.4223 7.46338 14.1564 7.46338 13.8825V9.81399C7.46338 9.52395 7.64062 9.37894 8.00316 9.37894C8.36571 9.37894 8.54295 9.52395 8.54295 9.81399V11.3608C8.74436 11.2239 9.01022 11.1594 9.31637 11.1594C10.2993 11.1594 10.9841 11.812 10.9841 12.9721ZM8.54295 13.9147C8.67991 13.9953 8.8491 14.0356 9.03439 14.0356C9.55807 14.0356 9.88033 13.6811 9.88033 13.0446C9.88033 12.4001 9.55001 12.0295 9.05051 12.0295C8.85715 12.0295 8.67991 12.0859 8.54295 12.1906V13.9147ZM13.0022 10.096C13.0022 10.4666 12.7364 10.7244 12.3658 10.7244C11.9952 10.7244 11.7293 10.4666 11.7293 10.096C11.7293 9.72537 11.9952 9.47561 12.3658 9.47561C12.7364 9.47561 13.0022 9.72537 13.0022 10.096ZM12.9055 11.5945V14.4545C12.9055 14.7446 12.7283 14.8896 12.3658 14.8896C12.0032 14.8896 11.826 14.7446 11.826 14.4545V11.5945C11.826 11.3044 12.0032 11.1594 12.3658 11.1594C12.7283 11.1594 12.9055 11.3044 12.9055 11.5945ZM16.1724 13.9228C16.4705 13.9228 16.5592 14.237 16.5592 14.4142C16.5592 14.527 16.5189 14.6398 16.3658 14.7284C16.1886 14.8332 15.8824 14.9057 15.5682 14.9057C14.9881 14.9057 14.6417 14.672 14.4645 14.3498C14.3033 14.0598 14.2872 13.7133 14.2872 13.3427V12.1343H14.0052C13.7152 12.1343 13.5702 11.9892 13.5702 11.6831C13.5702 11.3769 13.7152 11.2319 14.0052 11.2319H14.2872V10.523C14.2872 10.2329 14.4645 10.0879 14.827 10.0879C15.1896 10.0879 15.3668 10.2329 15.3668 10.523V11.2319H16.0435C16.3336 11.2319 16.4786 11.3769 16.4786 11.6831C16.4786 11.9892 16.3336 12.1343 16.0435 12.1343H15.3668V13.3427C15.3668 13.4877 15.3668 13.6972 15.4393 13.8342C15.4957 13.947 15.6004 13.9953 15.7374 13.9953C15.826 13.9953 15.9146 13.9711 15.9871 13.955C16.0516 13.9389 16.108 13.9228 16.1724 13.9228Z' fill='%231C1E21'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1455_35'%3E%3Crect width='24' height='24' rx='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat;
}

@media only screen and (min-width: 1040px) {
  .header-long-screen {
    display: block;
  }
  .header-short-screen {
    display: none;
  } 
}

@media only screen and (max-width: 1040px) {
  .header-long-screen {
    display: none;
  }
  .header-short-screen {
    display: block;
  } 
}

html[data-theme="dark"] .header-github-link::before {
  filter: invert(1);
}

html[data-theme="dark"] .header-bit-cloud-link::before {
  filter: invert(1);
}

#carbonads * {
  margin: initial;
  padding: initial;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

#carbonads {
  display: flex;
  z-index: 100;
  position: fixed;
  right: 30px;
  bottom: 30px;

  max-width: 360px;
  background-color: hsl(0, 0%, 98%);
  box-shadow:
    0 0 0 1px hsla(0, 0%, 30%, .05),
    0 0 0 2px hsla(0, 0%, 50%, .05),
    0 0 0 4px hsla(0, 0%, 80%, .05);
}

#carbonads a {
  text-decoration: none;
  color: #000000;
}

#carbonads a:hover {
  color: #475569;
}

#carbonads span {
  display: block;
  position: relative;

  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  display: block;
  margin: 0;

  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  margin-bottom: 16px;
  padding: 10px;

  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  color: #000000;
}

#carbonads .carbon-poweredby {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px 8px;

  font-size: 8px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-top-left-radius: 3px;
  background: #f1f1f2;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    float: initial;
    position: relative;
    right: initial;
    bottom: initial;
    margin: 0 auto 25px;

    max-width: 330px;
  }

  #carbonads .carbon-wrap {
    display: flex;

    flex-direction: row;
  }

  #carbonads .carbon-img {
    margin: 0;
  }

  #carbonads .carbon-text {
    padding: 10px 10px 0 10px;

    font-size: 12px;
  }

  #carbonads .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;

    text-align: center;
    border-radius: 0;
    border-top-left-radius: 3px;
  }
}

.bsa-standard {
	--width: 960px;
	--gap: 1.5ch;
	position: relative;
	max-inline-size: var(--width);
	font-size: 16px;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
}

.bsa-standard .native-banner {
	display: flex;
	column-gap: var(--gap);
	row-gap: var(--gap);
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0.15);

	text-decoration: none;
}

.bsa-standard .native-img {
	flex-shrink: 0;
	flex-basis: 125px;
	height: 50px;
	line-height: 0;
}

.bsa-standard .native-main {
	display: flex;
	flex-grow: 1;
	flex-basis: 300px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gap);
}

.bsa-standard .native-details {
	display: flex;
	flex-grow: 1;
	flex-basis: 300px;

	flex-direction: column;
	flex-wrap: wrap;
	padding-left: var(--gap);
}

.bsa-standard .native-company {
	margin-bottom: 0.5ex;
	font-weight: 600;

	font-size: 0.625em;
	line-height: 1.4;
	letter-spacing: 0.2ch;
	text-transform: uppercase;
}

.bsa-standard .native-desc {
	font-weight: 300;
	font-size: 1em;
	line-height: 1.4;
	letter-spacing: 1px;
}

.bsa-standard .native-cta {
	padding: 10px 16px;
	border-radius: 3px;
	font-weight: 600;

	font-size: 0.875em;
	line-height: 1;
	letter-spacing: 0.1ch;
	text-transform: uppercase;
	white-space: nowrap;
}
