:root{
  --ifm-color-primary-lightest: #F9B970;
  --ifm-color-primary-lighter: #F8A648;
  --ifm-color-primary-light: #F79F3B;
  --ifm-color-primary: #f69220;
  --ifm-color-primary-dark: #F0850A;
  --ifm-color-primary-darker: #E37D09;
  --ifm-color-primary-darkest: #BB6708;
}
