name: Build Test

on: [pull_request]
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: deploy
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare pnpm@next-8 --activate
          corepack prepare yarn@stable --activate
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
        env:
          LOCALE_CI: en
