name: Build Test

on: [pull_request]
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: deploy
    steps:
      - name: Checkout Commit
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Install pnpm
        run: curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@next-7
      - name: Install dependencies
        run: pnpm install
      - name: Update pnpm bundle
        run: curl -L --fail https://get.pnpm.io/v5.js > static/pnpm.js
      - name: Build
        run: pnpm build
        env:
          LOCALE_CI: en
