name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_run:
    workflows: ["Benchmark runner"]
    branches: [main]
    types: 
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: deploy
    steps:
    - name: Checkout Commit
      uses: actions/checkout@v3
      with:
          fetch-depth: 0
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    - name: Install pnpm
      run: |
        corepack enable
        corepack prepare pnpm@next-7 --activate
    - name: Install dependencies
      run: pnpm install
    - name: Update pnpm bundle
      run: curl -L --fail https://get.pnpm.io/v5.js > static/pnpm.js
    - name: Update translations
      env:
        CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
        CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
      run: pnpm crowdin:sync
    - uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
    - name: Release to GitHub Pages
      env:
        USE_SSH: true
        GIT_USER: git
        DEPLOYMENT_BRANCH: master
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "gh-actions"
        pnpm run deploy
